# Voting ensemble

- core Idea Intuition : Base model may be same or Different, But all models should be trained on Same Data

- In classification Problems output is getting from mejority vote from all base model output

Assumption:
- Base model should be disimilar then Voting Ensemble perform Well.
- All base model minimum Accuracy greater than 50%

In [1]:
import numpy as np
import pandas as pd

In [3]:
# from sklearn.datasets import load_boston

In [5]:
# X, y = load_boston(return_X_y=True)
df = pd.read_csv("https://raw.githubusercontent.com/anajikadam/MyRowData/main/BostonHousing.csv")
df.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [6]:
df.shape

(506, 14)

In [9]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [12]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

estimators = [('lr',lr),('dt',dt),('svr',svr)]

In [13]:
for estimator in estimators:
  scores = cross_val_score(estimator[1], X, y, scoring='r2',cv=10)
  print(estimator[0], np.round(np.mean(scores),2))

lr 0.2
dt -0.12
svr -0.41

# VotingRegressor

In [15]:
from sklearn.ensemble import VotingRegressor

In [16]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr, X, y, scoring='r2', cv=10)
print("Voting Regressor", np.round(np.mean(scores),2))

Voting Regressor 0.43

In [17]:
# Weight added to each model weight range (1-4)
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      vr = VotingRegressor(estimators,weights=[i,j,k])
      scores = cross_val_score(vr, X, y, scoring='r2', cv=10)
      print("For i={},j={},k={}".format(i,j,k), np.round(np.mean(scores),2))

For i=1,j=1,k=1 0.44
For i=1,j=1,k=2 0.37
For i=1,j=1,k=3 0.27
For i=1,j=2,k=1 0.41
For i=1,j=2,k=2 0.4
For i=1,j=2,k=3 0.29
For i=1,j=3,k=1 0.33
For i=1,j=3,k=2 0.29
For i=1,j=3,k=3 0.29
For i=2,j=1,k=1 0.41
For i=2,j=1,k=2 0.41
For i=2,j=1,k=3 0.34
For i=2,j=2,k=1 0.37
For i=2,j=2,k=2 0.4
For i=2,j=2,k=3 0.42
For i=2,j=3,k=1 0.4
For i=2,j=3,k=2 0.44
For i=2,j=3,k=3 0.41
For i=3,j=1,k=1 0.42
For i=3,j=1,k=2 0.43
For i=3,j=1,k=3 0.39
For i=3,j=2,k=1 0.46
For i=3,j=2,k=2 0.46
For i=3,j=2,k=3 0.43
For i=3,j=3,k=1 0.43
For i=3,j=3,k=2 0.39
For i=3,j=3,k=3 0.4

## using the same algorithm

In [18]:
dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=3)
dt3 = DecisionTreeRegressor(max_depth=5)
dt4 = DecisionTreeRegressor(max_depth=7)
dt5 = DecisionTreeRegressor(max_depth=None)

estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]

In [19]:
for estimator in estimators:
  scores = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
  print(estimator[0],np.round(np.mean(scores),2))

dt1 -0.85
dt2 -0.11
dt3 -0.04
dt4 0.03
dt5 -0.32

In [20]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr, X, y, scoring='r2', cv=10)
print("Voting Regressor", np.round(np.mean(scores),2))

Voting Regressor 0.18